.cache
.cursor
.traces
build
build_xcode
build_release
build_release_info
build_novcpkg
assets/textures
assets/models
assets/meters
assets/materials
assets/scenes
docs

*.o
*.out
*.a
*.so
*.dylib
*.lib
*.exp
.vs
.spec
assets/*.spv
.cursor
.claude
CLAUDE.md
AGENTS.md